---
import Logo from "@components/basic/Logo.astro";
import menu from "@config/menu.json";
import Navchild from "@components/basic/Navchild.astro";
import { Icon } from "astro-icon/components";

export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const main: any = menu;

const { pathname } = Astro.url;
---

<header class="top-0 z-50">
  <div class="border-b border-blue-50/50">
    <div
      class="container max-w-6xl mx-auto flex justify-between items-center content-center my-3"
    >
      <div class="flex lg:flex-1">
        <a href="/">
          <Logo />
        </a>
      </div>
      <div class="flex space-x-12">
        <div class="flex space-x-2 items-center">
          <Icon name="call" class="h-8 w-8 text-sky-500" />
          <div>
            <p class="text-sm font-thin">Call for an appointment</p>
            <p>208-506-3618</p>
          </div>
        </div>
        <div class="flex space-x-2 items-center">
          <Icon name="appointment-1" class="h-8 w-8 text-sky-500" />
          <div>
            <p class="text-sm font-thin">Make an <br />Appointment Online</p>
          </div>
        </div>
        <div class="flex space-x-2 items-center">
          <Icon name="patient-portal" class="h-8 w-8 text-sky-500" />
          <div>
            <p class="text-sm font-thin">Patient <br />Portal</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2 shadow-sm divide-x-2 divide-blue-900">
    <nav
      class="flex items-center justify-between container mx-auto max-w-6xl"
      aria-label="Global"
    >
      <div class="flex lg:hidden">
        <button
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>
        </button>
      </div>

      <div class="hidden lg:flex lg:gap-x-12">
        {main.map((item: any) => <Navchild {item} />)}
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a
          href="/contact-us"
          class="text-sm font-semibold leading-6 border bg-sky-500 text-sky-50 rounded px-4 py-2"
          >Send a Message</a
        >
      </div>
    </nav>

    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div
        class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
      >
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Mental Health Clinic of Idaho</span>
            <Logo />
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              {
                main.map((item: any) => (
                  <a
                    href={item.url}
                    class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >
                    {item.name}
                  </a>
                ))
              }
            </div>
            <div class="py-6">
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                >Make Appointment</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
