---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import Navbar from "../components/basic/Navbar.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <main class="mt-32 h-screen"></main>
</Layout>
