---
import { Icon } from "astro-icon/components";
---

<section class="py-24 relative xl:mr-0 lg:mr-5 mr-0">
  <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
    <div
      class="w-full justify-start items-center xl:gap-12 gap-10 grid lg:grid-cols-2 grid-cols-1"
    >
      <div class="w-full lg:justify-start justify-center items-start flex">
        <div
          class="sm:w-[564px] w-full sm:h-[646px] h-full sm:bg-gray-100 rounded-3xl sm:border border-gray-200 relative"
        >
          <img
            class="sm:mt-5 sm:ml-5 w-full h-full rounded-3xl"
            src="./hero-bg.jpg"
            alt="about Us image"
          />
        </div>
      </div>
      <div
        class="w-full flex-col justify-center lg:items-start items-center gap-10 inline-flex"
      >
        <div class="w-full flex-col justify-center items-start gap-8 flex">
          <div
            class="flex-col justify-start lg:items-start items-center gap-4 flex"
          >
            <h6 class="text-sky-600 text-base font-normal leading-relaxed">
              About Us
            </h6>
            <div
              class="w-full flex-col justify-start lg:items-start items-center gap-3 flex"
            >
              <h2
                class="text-4xl font-bold font-manrope leading-normal lg:text-start text-center"
              >
                You Are Not Alone - Get title
              </h2>
              <p
                class="text-gray-500 text-base font-normal leading-relaxed lg:text-start text-center"
              >
                The Mental Health Clinic of Idaho is a comprehensive behavioral
                health clinic that ensures accessible care for everyone seven
                years and older. Family nurse practitioner Sami Phuyal, DNP,
                APRN, FNP-C, and the highly skilled team welcome new patients
                and look forward to helping existing patients.
              </p>
            </div>
          </div>
          <div class="w-full flex-col justify-center items-start gap-6 flex">
            <div
              class="w-full h-full justify-start items-center gap-8 grid grid-cols-1"
            >
              <div
                class="w-full p-3.5 rounded-xl border border-gray-200 hover:border-gray-400 transition-all duration-700 ease-in-out flex-col justify-start items-start gap-2.5 inline-flex"
              >
                <h4
                  class="text-gray-900 text-2xl font-bold font-manrope leading-9"
                >
                  <Icon
                    name="mission"
                    class="h-14 w-14 bg-sky-500 p-2 rounded-full text-white"
                  />
                  Our Mission
                </h4>
                <p class="text-gray-500 text-base font-normal leading-relaxed">
                  At our comprehensive behavioral health clinic in Meridian,
                  Idaho, we are dedicated to assessing, diagnosing, and treating
                  a wide range of conditions, including anxiety, ADHD,
                  depression, insomnia, OCD, migraines, psychosis, PTSD, trauma,
                  and substance use. We are committed to providing accessible
                  patient care through tele-visit and in-person psychiatry
                  appointments.
                </p>
              </div>
            </div>
          </div>
        </div>
        <a
          href="/about"
          class="sm:w-fit w-full group px-3.5 py-2 text-sky-900 bg-sky-50 hover:bg-sky-100 rounded-lg shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] transition-all duration-700 ease-in-out justify-center items-center flex"
        >
          <span
            class="px-1.5 text-sm font-medium leading-6 group-hover:-translate-x-0.5 transition-all duration-700 ease-in-out"
            >Read More</span
          >
          <svg
            class="group-hover:translate-x-0.5 transition-all duration-700 ease-in-out"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
          >
            <path
              d="M6.75265 4.49658L11.2528 8.99677L6.75 13.4996"
              stroke="currentColor"
              stroke-width="1.6"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
